<div layout-gt-xs layout-align="center">
    <md-content>
        <section>
            <br>
            <h1>Página de navegación, app santander mobile</h1>
            <br>
            <md-button ui-sref="main.beneficios" class="md-raised">Beneficios</md-button>
            <md-button ui-sref="main.condiciones" class="md-raised">Condiciones</md-button>
            <md-button ui-sref="main.aviso-de-privacidad" class="md-raised">Aviso de privacidad</md-button>
            <md-button ui-sref="main.ingresar-telefono" class="md-raised">Ingresar teléfono</md-button>
            <md-button ui-sref="main.ingresar-telefono" class="md-raised">Ingresar código</md-button>
            <md-button ui-sref="main.reenviar-codigo" class="md-raised">Reenviar código</md-button>
            <md-button ui-sref="main.seleccionar-credencial" class="md-raised">Seleccionar credencial</md-button>
            <md-button ui-sref="main.subir-ine" class="md-raised">Subir-ine</md-button>
            <md-button ui-sref="main.subir-pasaporte" class="md-raised">Subir pasaporte</md-button>
            <md-button ui-sref="main.confirmar-credencial" class="md-raised">Confirmar credencial</md-button>
            <md-button ui-sref="main.validar-credencial" class="md-raised">Validar credencial</md-button>
            <md-button ui-sref="main.agregar-datos" class="md-raised">Agregar datos</md-button>
            <md-button ui-sref="main.agregar-datos.personales" class="md-raised">Agregar datos personales</md-button>
            <md-button ui-sref="main.agregar-datos.geograficos" class="md-raised">Agregar datos geograficos</md-button>
            <md-button ui-sref="main.agregar-datos.beneficiario" class="md-raised">Agregar datos de beneficiario</md-button>
            <md-button ui-sref="main.registro-tarjeta" class="md-raised">Registro de tarjeta</md-button>
            <md-button ui-sref="main.validacion-general" class="md-raised">Validación general</md-button>
            <md-button ui-sref="main.contrato" class="md-raised">Contrato</md-button>
            <md-button ui-sref="main.confirmacion" class="md-raised">Confirmación</md-button>
            <md-button ui-sref="main.pantalla-de-espera" class="md-raised">Pantalla de espera</md-button>
            <md-button ui-sref="main.pantalla-de-error" class="md-raised">Pantalla de error</md-button>
            <md-button ui-sref="main.notificacion" class="md-raised">Pantalla de notificación</md-button>
            {{txt.uno}}df
        </section>

    </md-content>

</div>