<div layout-gt-xs layout-align="center">
    <md-content>
        <h1>Confirmación</h1>
	<br>
        <section flex layout="row" layout-align="left center">
          <p>Número de cuenta: 99999999</p><br><br>
          <p>Número de tarjeta: 9999 9999 9999 9999</p><br><br>
          <p>Número de cliente: 999999</p><br><br>
            <button>Continua con nuestra app móvil</button><br>
            <br>
        </section>
            
        <footer>
			<md-button ui-sref="home" class="md-raised">Home</md-button>
			<md-button ui-sref="contrato" class="md-raised">Paso anterior</md-button>
      <md-button ui-sref="pantalla-de-espera" class="md-raised">Paso siguiente</md-button>
        </footer>
    </md-content>

