<div layout="vertical" layout-fill>

  <md-content>
      <h2>Formulario de datos generales</h2>
              <article>
                <form name="projectForm" ng-controller="Paso1Controller">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Nombre</label>
                        <input id='nombretxt' type='text' required name="nombre" ng-model="nombre" />
                        
                        <div ng-messages="projectForm.nombre.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                        
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Apellido Paterno</label>
                        <input id="idappaterno" type='text' name="paterno" ng-model="paterno"/>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Apellido Materno</label>
                        <input id="idapmaterno" type='text' name="materno" ng-model="materno"/>
                      </md-input-container>
                       
                      <input id='idfecha' type='date' class="form-control" placeholder='fecha de nacimiento' name="fecha_nac" ng-model="fecha_nac"/>         

                                {{ PostDataResponse[0].persona }}
                                <br>          
                                <!--{{ PostDataResponse }}  -->
                                <md-button ng-click="SendData()" class="md-raised">SIGUIENTE</md-button>
				<md-button ui-sref="main.agregar-datos" class="md-raised">Volver a pantalla de opciones</md-button>
                </form>
              </article>
  </md-content>
</div>
