<div layout-gt-xs layout-align="center">
    <md-content>
        <header flex layout="row" layout-align="left center">
            <clean-bar></clean-bar>
        </header>
      <md-button ui-sref=".personales" class="md-fab md-raised md-primary"  >uno</md-button>
      <md-button ui-sref=".geograficos" class="md-fab md-raised">dos</md-button>
      <md-button ui-sref=".beneficiario" class="md-fab md-raised">tres</md-button>

        <h1>Completa tus datos</h1>
        <!--<md-button ui-sref=".personales" class="md-fab md-raised md-primary" flex="100"  >Datos generales</md-button>
          <md-button ui-sref=".geograficos" class="md-raised">Datos geográficos</md-button>
          <md-button ui-sref=".beneficiario" class="md-raised">Datos del beneficiario</md-button>-->
        <section>
            <div ui-view=""></div>
        </section>

<footer>
<md-button ui-sref="home" class="md-raised">Home</md-button>
			<md-button ui-sref="main.agregar-credencial" class="md-raised">Paso anterior</md-button>
                      	<md-button ui-sref="main.registro-tarjeta" class="md-raised">Paso siguiente</md-button>
</footer>
    </md-content>

</div>


