<div layout-gt-xs layout-align="center">
    <md-content>
        <h1>Seleccionar credencial</h1>
        <br>
        <section flex layout="row" layout-align="left center">
            <md-button ui-sref="subir-ine" class="md-raised">Subir Ine</md-button>
            <md-button ui-sref="subir-pasaporte" class="md-raised">Subir pasaporte</md-button>
        </section>
            
        <footer>
            <md-button ui-sref="home" class="md-raised">Home</md-button>
            <md-button ui-sref="main.ingresar-telefono" class="md-raised">Paso anterior</md-button>
            <md-button ui-sref="main.validar-credencial" class="md-raised">Paso siguiente</md-button>
        </footer>
    </md-content>

</div>
