<div layout-gt-xs layout-align="center">
    <md-content>
        <header>
            
        </header>
        <br>
        <h1>Subir pasaporte</h1>
        <br>
        <section flex layout="row" layout-align="left center">
            
        </section>
            
        <footer>
          <md-button ui-sref="home" class="md-raised">Home</md-button>
          <md-button ui-sref="main.seleccionar-credencial" class="md-raised">Volver a seleccionar credencial</md-button>
          <md-button ui-sref="main.confirmar-credencial" class="md-raised">Paso siguiente</md-button>
        </footer>
    </md-content>

</div>
