<section flex layout="column" layout-gt-xs layout-align="center center">

            <md-card>                
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Aviso de privacidad</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
               <p>Nulla efficitur quam a ultricies placerat. Morbi arcu lectus, sollicitudin ut accumsan lobortis, facilisis vel orci. Donec at cursus magna, ut posuere orci. Quisque lacus metus, interdum sed dignissim ac, suscipit et quam. Suspendisse tortor ante, efficitur vitae nibh ac, placerat sodales ex. Vivamus consectetur purus ligula, sit amet accumsan lorem vulputate id. Aenean a felis sit amet quam blandit blandit.</p>
               <p>Donec et orci fermentum, consequat tortor a, ornare sem. Maecenas condimentum lectus odio, in dignissim est tristique a. Aenean vulputate nibh sit amet ultricies auctor. In sed iaculis turpis. Vestibulum bibendum neque turpis, sit amet scelerisque tellus elementum quis. Nunc a convallis sem. Cras maximus elementum est, et pulvinar est congue a. Maecenas convallis, odio tempus scelerisque ullamcorper, massa ligula finibus eros, faucibus rutrum est justo vitae purus. Ut tincidunt rutrum quam id auctor. Vivamus ac ultricies eros, id molestie nibh.</p>
                
                  
                </md-card-content>
              </md-card>
      <md-card>
        </section>      
      
            <footer>
                <md-button ui-sref="home" class="md-raised">Home</md-button>
                <md-button ui-sref="main.beneficios" class="md-raised">Paso anterior</md-button>
                            <md-button ui-sref="main.ingresar-telefono" class="md-raised">Paso siguiente</md-button>
            </footer>
