
        <section flex layout="row" layout-gt-xs layout-align="center center">
            <md-card>
                
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Beneficios de la cuenta</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                 <md-button ui-sref="main.condiciones" class="md-raised">Comenzar</md-button>
                </md-card-actions>
              </md-card>
      <md-card>
        </section>
            
        <footer>
			<md-button ui-sref="home" class="md-raised">Home</md-button>
            <md-button ui-sref="main.condiciones" class="md-raised">Paso siguiente</md-button>
        </footer>

