       <top-navbar></top-navbar>
        <section flex layout="column" layout-gt-xs layout-align="center center">
            <cleanbar></cleanbar>
            <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">
                      {{ content.beneficios.title }}
                    </span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  <ul>
                    <li>{{ content.beneficios.item1 }}</li>
                    <li>{{ content.beneficios.item2 }}</li>
                    <li>{{ content.beneficios.item3 }}</li>
                    <li>{{ content.beneficios.item4 }}</li>
                  </ul>


                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                 <md-button ui-sref="main.condiciones" class="md-raised">Siguiente</md-button>
                </md-card-actions>
              </md-card>
      <md-card>
        </section>

        <footer>
			      <md-button ui-sref="home" class="md-raised">Home</md-button>
            <md-button ui-sref="main.condiciones" class="md-raised">Paso siguiente</md-button>
        </footer>

