<top-navbar></top-navbar>

<section flex layout="column" layout-gt-xs layout-align="center center">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ content.condiciones.title}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <ul>
                <li>{{ content.condiciones.item1 }}</li>
                <li>{{ content.condiciones.item2 }}</li>
            </ul>
            <hr>
            <ul>
                <li>{{ content.condiciones.item3 }}</li>
                <li>{{ content.condiciones.item4 }}</li>
                <li>{{ content.condiciones.item5 }}</li>
            </ul>
            <hr>
            <p>{{ content.condiciones.item6 }} <a href="#">Politica de privacidad</a></p>

        </md-card-content>
        <md-card-actions layout="column" layout-align="center center">
            <md-button ui-sref="main.condiciones" class="md-raised" >Contratar</md-button>
        </md-card-actions>        
    </md-card>
    <md-card>
</section>

<footer>
    <md-button ui-sref="home" class="md-icon-button">
        <md-icon md-svg-src="assets/images/icons/home.svg"></md-icon>
    </md-button>
    
    <md-button ui-sref="main.beneficios" class="md-icon-button">
        <md-icon md-svg-src="assets/images/icons/ic-l.svg"></md-icon>
    </md-button>
    <md-button ui-sref="main.aviso-de-privacidad" class="md-icon-button">
        <md-icon md-svg-src="assets/images/icons/ic-r.svg"></md-icon>
    </md-button>
</footer>