        <section flex layout="column" layout-gt-xs layout-align="center center">
            <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Condiciones de contratación</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  <ul>
                    <li>Ser mayor de edad </li>
                    <li>Ser residente mexicano</li>
                  </ul>
                  <hr>
                  <ul>
                    <li>INE o Pasaporte</li>
                    <li>Una cuenta de email activa </li>
                    <li>Tu tarjeta credencial de la universidad</li>
                  </ul>
                <hr>
                <p>Al iniciar el contrato, estarás aceptando nuestra <a href="#">Politica de privacidad</a></p>

                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                 <md-button ui-sref="main.condiciones" class="md-raised">Contratar</md-button>
                </md-card-actions>
              </md-card>
      <md-card>
        </section>

            <footer>
                <md-button ui-sref="home" class="md-raised">Home</md-button>
                <md-button ui-sref="main.beneficios" class="md-raised">Paso anterior</md-button>
                            <md-button ui-sref="main.aviso-de-privacidad" class="md-raised">Paso siguiente</md-button>
            </footer>
